.App {
  text-align: center; 
}

#Grid {
  margin: 10px;
  min-height: 70vh;
}

#ControlPanel {
  margin: 10px;
  min-height: 5vh;
}

.StartStopButton {
  margin-right: 5px;
}

.ResetButton {
  margin-right: 5px;
}
